.aspectRatio16by9 {
  aspect-ratio: 16 / 9;
}

.aspectRatio4by3 {
  aspect-ratio: 4 / 3;
}

.aspectRatio1by1 {
  aspect-ratio: 1 / 1;
}

.fill-container {
  @media screen {
    /* height 100% does not mix well with flex-box on print */
    height: 100%;
  }
}
