<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.knime.js.core.webResources">
      <webResourceBundle
            debug="false"
            exports="KnimePageLoader"
            name="KNIME PageBuilder Resources"
            usesDefine="false"
            version="2.0.0"
            webResourceBundleID="knimePageBuilder_2.0.0">
         <webResource
               relativePathSource="dist/lib/PageBuilder.umd.js"
               relativePathTarget="org/knime/core/ui/pagebuilder/lib/PageBuilder.umd.js">
         </webResource>
      </webResourceBundle>
      <webResourceBundle
            debug="false"
            exports="KnimePageLoader"
            name="KNIME PageBuilder AP Wrapper"
            usesDefine="false"
            version="2.0.0"
            webResourceBundleID="knimePageBuilder_2.0.0_AP">
         <webResource	
               relativePathSource="dist/app/org/knime/core/ui/pagebuilder/app/assets"
               relativePathTarget="org/knime/core/ui/pagebuilder/app/assets/">
         </webResource>
      </webResourceBundle>
   </extension>
</plugin>
